$alert-red: rgb(245,65,55);         // #f54137
$warning-yellow: rgb(245,166,10);   // #f5a60a
$bg-color: rgb(250,250,250);        // #fafafa
$border-grey: rgb(234,234,234);     // #eaeaea
$light-grey: rgb(225,225,225);      // #e1e1e1
$middle-grey: rgb(204,204,204);     // #cccccc
$brown-grey: rgb(153,153,153);      // #999999
$brownish-grey: rgb(112,112,112);   // #707070
$dark-brown: rgb(79,71,62);         // #4f473e
$black: rgb(19,20,31);              // #13141F
$white: rgb(255,255,255);           // #ffffff
