.KaikasPage {
  width: 100%;
  height: 100%;
}

.KaikasPage__githubLink {
  width: 32px;
  height: 32px;
  position: fixed;
  bottom: 35px;
  right: 35px;
  z-index: 9999;
  transition: opacity .2s;

  &:hover { opacity: .8; }
}

.KaikasPage__main {
  width: 100%;
  min-height: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 70px;
  padding: 60px 10px;

  h3 { margin-bottom: 15px; }
}

.KaikasPage__content {
  padding: 40px 0;
}

.KaikasPage__txExample {
  padding: 15px 20px 20px 20px;
}

.KaikasPage__txExampleHeader {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding-bottom: 15px;
}

.KaikasPage__txExampleTitle {
  width: calc(100% - 120px);
  @include textEllipsis();
}

.KaikasPage__dropdown {
  margin-bottom: 20px;
}

.KaikasPage__guide {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}