.KaikasPage {
  width: 100%;
  height: 100%;

}

.KaikasPage__main {
  width: 100%;
  min-height: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding-top: 70px;
  padding: 60px 10px;

  h3 { margin-bottom: 15px; }
}

.KaikasPage__content {
  padding: 40px 0;
}

.KaikasPage__txExample {
  padding: 20px;
}

.KaikasPage__txExampleTitle {
  padding-bottom: 30px;
}

.KaikasPage__dropdown {
  margin-bottom: 20px;
}

.KaikasPage__guide {
  padding: 30px 0;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}