.Input {
  position: relative;
  margin-bottom: 10px;
}

.Input__label {
  display: block;
  font-size: 12px;
  font-weight: bold;
  color: $brown-grey;
  margin-bottom: 8px;
}

.Input__input {
  width: 100%;
  font-size: 14px;
  border: 1px solid $light-grey;
  padding: 22px 24px;
  border-radius: 5px;

  &::placeholder { color: $middle-grey; }
  &--err { border-color: $alert-red; }
  &--readOnly {
    color: $middle-grey;
  }
}

.Input__err {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 12px;
  color: $alert-red;
}
