.Nav {
  width: 100%;
  height: 75px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  @include cardBox();
}

.Nav__inner {
  max-width: $max-page-width;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Nav__logo {
  width: 160px;
  overflow: hidden;
  img { width: 180px; }
}

.Nav__network {
  padding: 2px 15px;
  border: 1px solid $dark-brown;
  border-radius: 12px;
  font-size: 12px;
  color: $dark-brown;
  text-align: center;

  &--loading {
    color: $brown-grey;
    border-color: $brown-grey;
  }

  &--error {
    color: $alert-red;
    border-color: $alert-red;
  }

  span {
    display: inline-block;
    margin-right: 6px;
    font-size: 10px;
  }
}
