@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: bold;
  src: url('/fonts/SFUIText-Bold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 600;
  src: url('/fonts/SFUIText-Semibold.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: normal;
  src: url('/fonts/SFUIText-Regular.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 300;
  src: url('/fonts/SFUIText-Medium.ttf') format('truetype');
  font-display: swap;
}

@font-face {
  font-family: 'SFUIText';
  font-style: normal;
  font-weight: 200;
  src: url('/fonts/SFUIText-Light.ttf') format('truetype');
  font-display: swap;
}

html, body, #root { height: 100%; }

html { font-size: 10px; }

body {
  margin: 0;
  padding: 0;
  background-color: $bg-color;
  font-family: SFUIText, Apple SD Gothic Neo, sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $dark-brown;

  *, *::before, *::after {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  a {
    color: inherit;
    text-decoration: none;
  }

  p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }

  button, input, select, textarea {
    font-family: unset;
  }
  
  button {
    padding: unset;
    background-color: unset;
    border: unset;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
